body{
    background-color:  rgb(24, 4, 74);
}

h2{
    color: white;
}


.college{
    border: solid 2px black;
    border-radius: 2%;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgb(16, 78, 187);
}

.line{
    border: solid 2px black;
    border-radius: 2%;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgb(16, 78, 187);

}
.stats{
    border: solid 2px black;
    border-radius: 2%;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgb(16, 78, 187);

}




.pro{
    border: solid 2px black;
    border-radius: 2%;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: rgb(16, 78, 187);

}

.selections{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto;
  
}

#reset{
    float:right;
}

.button {
    background-color: #4fc990;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


option{
    background-color: rgba(44,187,99,.35);
}

select{
    color: #4d5e55;
}

.topPicks{
    color: white;
}
